<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>OnlineShoppingPortal.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>OnlineShoppingPortal.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>OnlineShoppingPortal.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileServlet</servlet-name>
        <servlet-class>OnlineShoppingPortal.MobileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComputerServlet</servlet-name>
        <servlet-class>OnlineShoppingPortal.ComputerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>OnlineShoppingPortal.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>OnlineShoppingPortal.Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThankYou</servlet-name>
        <servlet-class>OnlineShoppingPortal.ThankYou</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>OnlineShoppingPortal.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoesServlet</servlet-name>
        <servlet-class>OnlineShoppingPortal.ShoesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutUs</servlet-name>
        <servlet-class>OnlineShoppingPortal.AboutUs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileServlet</servlet-name>
        <url-pattern>/MobileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComputerServlet</servlet-name>
        <url-pattern>/ComputerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThankYou</servlet-name>
        <url-pattern>/ThankYou</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoesServlet</servlet-name>
        <url-pattern>/ShoesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutUs</servlet-name>
        <url-pattern>/AboutUs</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>WelcomeHtml.html</welcome-file>
    </welcome-file-list>
</web-app>
