#Layer21 {
	position:absolute;
	width:111px;
	height:29px;
	z-index:16;
	left: 1141px;
	top: 794px;
}


#Layer5 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:5;
	left: 791px;
	top: 232px;


}
#Layer6 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:6;
	left: 254px;
	top: 551px;

}
#Layer7 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:7;
	left: 630px;
	top: 551px;

}
#Layer8 {
	position:absolute;
	width:201px;
	height:39px;
	z-index:8;
	left: 102px;
	top: 367px;
}
#Layer9 {
	position:absolute;
	width:200px;
	height:39px;
	z-index:9;
	left: 438px;
	top: 367px;
}
#Layer10 {
	position:absolute;
	width:199px;
	height:41px;
	z-index:10;
	left: 797px;
	top: 364px;
}
#Layer11 {
	position:absolute;
	width:196px;
	height:42px;
	z-index:1;
	left: 104px;
	top: 365px;
}
#Layer12 {
	position:absolute;
	width:200px;
	height:41px;
	z-index:11;
	left: 105px;
	top: 375px;
}
#Layer13 {
	position:absolute;
	width:200px;
	height:45px;
	z-index:1;
	left: 374px;
	top: -6px;
}
#Layer18 {
	position:absolute;
	width:200px;
	height:48px;
	z-index:13;
	left: 441px;
	top: 364px;
}
#Layer19 {
	position:absolute;
	width:198px;
	height:43px;
	z-index:14;
	left: 253px;
	top: 687px;
}
#Layer20 {
	position:absolute;
	width:211px;
	height:42px;
	z-index:15;
	left: 626px;
	top: 689px;
}
