#Layer3 {
	position:absolute;
	width:1501px;
	height:51px;
	z-index:2;
	left: -1px;
	top: 131px;
}
table
{
	padding-left:20px;
	width:100%;

}
th
{
	background-color:#0066CC;
	padding-left:20px;
	border-collapse:separate;
	border-style:ridge;
	border:inset;
	border-color:transparent;
	outline-width:thick;

}
a
{
 text-decoration:none;;
 color:#FFFFFF;
 }
 select
 {
 background-color:#0066CC;
 color:#FFFFFF;
 }
